<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Charts</title>

  <!--Echarts New-->
  <script type="text/javascript" src="../js/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="../js/echarts/echarts-gl.min.js"></script>
  <script type="text/javascript" src="../js/echarts/ecStat.min.js"></script>
  <script type="text/javascript" src="../js/echarts/dataTool.min.js"></script>
  <script type="text/javascript" src="../js/echarts/china.js"></script>
  <script type="text/javascript" src="../js/echarts/world.js"></script>
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
  <script type="text/javascript" src="../js/echarts/bmap.min.js"></script>
  <script type="text/javascript" src="../js/echarts/simplex.js"></script>
<style>
h4{
  font-size: 14px !important;
  /* font-weight: 600 !important; */
  font-family: Verdana,sans-serif;
}
</style>

  <script src="../js/charts.js"></script>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <!-- <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Font Awesome -->
  <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../build/css/custom.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <link rel="stylesheet" href="../build/css/bootstrap.min.css">
  <script src="../build/js/jquery.min.js"></script>
  <script src="../build/js/bootstrap.min.js"></script>
  <!--fixing the bootstrap-->
  <script src="../js/popper.min.js"></script>
  <link href="css/charts.css" rel="stylesheet">
  <link href="../build/css/style5.css" rel="stylesheet">

</head>

<body onload = "showLine()">

  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Analytics Pro</h3>
      </div>

      <ul class="list-unstyled components">
        <li class="nav-item nav-dropdown active">
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="panel-collapse collapse in">Data Visualization</a>
          <ul class="collapse in list-unstyled" id="pageSubmenu">
            <li class="active">
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false">Learning Data Visualization</a>
              <ul class="collapse in list-unstyled" id="pageSubmenu1">
                <li class="active">
                  <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false">Graphs</a>
                  <ul class="collapse in list-unstyled" id="pageSubmenu2">
                    <li>
                      <a onclick="showLine()" >Line
                        Chart</a>
                    </li>
                    <li>
                      <a onclick="showPie()">Pie
                        Chart</a>
                    </li>
                    <li>
                      <a onclick="showBar()">Bar
                        Chart</a>
                    </li>
                    <li>
                      <a onclick="showScatter()">Scatter
                        Chart</a>
                    </li>
                    <!-- <li>
                      <a onclick="showMap()">Map</a>
                    </li> -->
                    <li>
                      <a onclick="showCandlestick()">Candlestick</a>
                    </li>
                    <li>
                      <a onclick="showRadar()">Radar</a>
                    </li>
                    <li>
                      <a onclick="showHeatmap()">Heatmap</a>
                    </li>
                    <li>
                      <a onclick="showTree()">Tree
                        Chart</a>
                    </li>
                    <li>
                      <a onclick="showTreeMap()">Tree
                        Map</a>
                    </li>
                    <li>
                      <a onclick="showSunburst()">Sunburst</a>
                    </li>
                    <li>
                      <a onclick="showParallel()">Parallel</a>
                    </li>
                    <li>
                      <a onclick="showSankey()" >Sankey</a>
                    </li>
                    <li>
                      <a onclick="showFunnel()">Funnel</a>
                    </li>
                    <li>
                      <a onclick="showGauge()">Gauge</a>
                    </li>
                    <li>
                      <a onclick="showThemeriver()">Themeriver</a>
                    </li>
                    <!-- <li>
                      <a onclick="showCalendar()">Calendar</a>
                    </li> -->
                    <li>
                      <a onclick="showDataset()">Dataset</a>
                    </li>
                    <li>
                      <a onclick="show3DBar()">3D
                        Bar</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="active">
              <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false">Dynamic Data Visualization</a>
              <ul class="collapse list-unstyled" id="pageSubmenu3">
                <a href="/map">Map</a>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="list-unstyled CTAs">
          <li><a href="/map" class="article">Back</a></li>
        </ul>
    </nav>

    <div id="content">

      <header id="header" style="background-color: #2C3A47">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>

          <div id="logo" class="pull-left">
            <h1><a href="/" class="scrollto">Analytics Pro > Learning</a></h1>
          </div>

      </header>

      <!--************************ This is the content part ***********************-->
      <div id="content">
          <!-- information warning -->

        <div class="row" id="chartContent">
          
          <br><br><br><br>  <div id="myAlert"  style="background-color: #d9edf7; border-color: #bce8f1; color: #31708f !important; font-size: 12px;text-align: justify;" class="alert alert-info fade in">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <strong>Instructions!</strong> This learning page is used for students to get familiar with the charts. It including the example of each charts and the description of charts' usage.
          </div>
          <div id="main" style="width: 700px;height:480px;" class="col-sm-6"></div>
          <div id="textContent" style="width: 640px;height:300px;" class="col-sm-6"></div>
        </div>

      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
          $(this).toggleClass('active');
        });
      });

    </script>
    <script>

        var alerted = localStorage.getItem('alertchart') || '';
        if (alerted == 'yes') {
          $(".alert").alert('close')
    
        }
        $('#myAlert').on('closed.bs.alert', function () {
          if (alerted != 'yes') {
            localStorage.setItem('alertchart', 'yes');
          }
        })
    
    
      </script>

</body>

</html>