<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Charts</title>

  <!--Echarts New-->
  <script type="text/javascript" src="../js/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="../js/echarts/echarts-gl.min.js"></script>
  <script type="text/javascript" src="../js/echarts/ecStat.min.js"></script>
  <script type="text/javascript" src="../js/echarts/dataTool.min.js"></script>
  <script type="text/javascript" src="../js/echarts/china.js"></script>
  <script type="text/javascript" src="../js/world.js"></script>
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
  <script type="text/javascript" src="../js/bmap.min.js"></script>
  <script type="text/javascript" src="../js/simplex.js"></script>


  <script src="../js/charts.js"></script>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Font Awesome -->
  <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../build/css/custom.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--fixing the bootstrap-->
  <script src="../js/popper.min.js"></script>
  <link href="css/charts.css" rel="stylesheet">
  <link href="../build/css/style5.css" rel="stylesheet">



<body>


  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Analytics Pro</h3>
      </div>

      <ul class="list-unstyled components">
        <p>Learning Data Visualization</p>
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Graphs</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a onclick="showLine()" >Line Chart</a>
            </li>
            <li>
              <a onclick="showPie()" >Pie Chart</a>
            </li>
            <li>
              <a onclick="showBar()" >Bar Chart</a>
            </li>
            <li>
              <a onclick="showScatter()" >Scatter
                Chart</a>
            </li>
<!--             <li>
              <a onclick="showMap()" >Map</a>
            </li> -->
            <li>
              <a onclick="showCandlestick()" >Candlestick</a>
            </li>
            <li>
              <a onclick="showRadar()" >Radar</a>
            </li>
            <li>
              <a onclick="showHeatmap()" >Heatmap</a>
            </li>
<!--             <li>
              <a onclick="showTree()" >Tree Chart</a>
            </li> -->
            <li>
              <a onclick="showTreeMap()" >Tree Map</a>
            </li>
            <li>
              <a onclick="showSunburst()" >Sunburst</a>
            </li>
            <li>
              <a onclick="showParallel()" >Parallel</a>
            </li>
<!--             <li>
              <a onclick="showSankey()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sankey</a>
            </li> -->
            <li>
              <a onclick="showFunnel()" >Funnel</a>
            </li>
<!--             <li>
              <a onclick="showGauge()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gauge</a>
            </li>
            <li>
              <a onclick="showThemeriver()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Themeriver</a>
            </li>
            <li>
              <a onclick="showCalendar()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Calendar</a>
            </li>
            <li>
              <a onclick="showDataset()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dataset</a>
            </li> -->
            <li>
              <a onclick="show3DBar()" >3D Bar</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/map">World Map</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li><a href="/map" class="article">Back</a></li>
      </ul>
    </nav>

    <div id="content">

      <header id="header" style="background-color: #2C3A47">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
              <span></span>
 
            </button>
          </div>

          <div id="logo" class="pull-left">
            <h1><a href="/" class="scrollto">Analytics Pro > Learning</a></h1>
          </div>
      </header>
<br><br><br>
      <!--************************ This is the content part ***********************-->
      <div id="content">
        <div class="row" id="chartContent">
          <br>
          <div id="main" style="width:700px;height:480px;" class="col-sm-6"></div>
          <br><br><br>
          <br><br><br>
          <div id="textContent" style="width:640px;height:480px;" class="col-sm-6"></div>
        </div>

      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
          $(this).toggleClass('active');
        });
      });

    </script>

</body>

</html>